/* palette */
:root{
    --primary-light: #BEBCBB;
    --primary-normal: #363636;
    --primary-dark: #000000;

    --secondary-light: #2D64E6;
    --secondary-normal: #00439C;
    --secondary-dark: #161C3B;

    --tertiary: #CD3D0F;
}

/* utilities */
.bg_primary_dark{
    background-color: var(--primary-dark);
}

.bg_primary_normal{
    background-color: var(--primary-normal);
}

.bg_primary_light{
    background-color: var(--primary-light);
}

.bg_secondary_dark{
    background-color: var(--secondary-dark);
}

.bg_secondary_normal{
    background-color: var(--secondary-normal);
}

.bg_secondary_light{
    background-color: var(--secondary-light);
}

.cursor_pointer{
    cursor: pointer;
}

.link_hover:hover{
    color: var(--secondary-light) !important;
}

.btn-rounded{
    border-radius: 20px;
}

/* header */
.header_first img{
    width: 80px;
}

.header_second .dropdown_first,
.header_second .dropdown_second{
    list-style-type: none;
}

.header_second .dropdown_second li a::before{
    content: '\2022';
    display: inline-block;
    margin-right: 5px;
    font-size: 1.4em;
    color: var(--secondary-light);
}

.header_second .custom_dropdown_item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header_second .dropdown_item_icon{
    max-width: 60px ;
}

/* fist section */
.first_section{
    background-image: url(../media/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 450px;
    padding-bottom: 50px;
    box-shadow: inset 0 0 0 2000px rgba(37, 37, 37, 0.088);
}

.first_section img{
    width: 250px;
}

/* second section */

.second_section figure,
.second_section img{
    border-radius: 20px;
    cursor: pointer;
}

.second_section figure.active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    outline: 2px solid var(--secondary-light);
    outline-offset: 5px;
}

/* third section */

.third_section .third .card{
    border: 0px;
    cursor: pointer;
}

.third_section .third .card img{
    opacity: 0.6;
    max-width: 80px;
}

.third_section .third .active{
    border-bottom: 2px solid var(--secondary-light);
}

.third_section .third .active img{
    opacity: 1;
}

/* foirth section */
.fourth_section{
    background-image: url(../media/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

/* fifth section */
.fifth_section .card img{
    border-radius: 20px;
}